<a href="https://colab.research.google.com/github/Ravindrakumarnayak/Machine_learning/blob/main/Association_rules_titatic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.10/dist-packages (0.22.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from mlxtend) (67.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (4.41.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [2]:
import mlxtend

In [3]:
import pandas as pd

from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [5]:
titanic= pd.read_csv("/content/Titanic.csv") # categorical data
titanic

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [7]:
titanic['Class'].value_counts()

Crew    885
3rd     706
1st     325
2nd     285
Name: Class, dtype: int64

In [9]:
titanic['Age'].value_counts()

Adult    2092
Child     109
Name: Age, dtype: int64

In [11]:
titanic['Gender'].value_counts()

Male      1731
Female     470
Name: Gender, dtype: int64

In [12]:
titanic['Survived'].value_counts()

No     1490
Yes     711
Name: Survived, dtype: int64

In [13]:
# convert to numeric

In [14]:
df=pd.get_dummies(titanic)
df.head()

   Class_1st  Class_2nd  Class_3rd  ...  Age_Child  Survived_No  Survived_Yes
0          0          0          1  ...          1            1             0
1          0          0          1  ...          1            1             0
2          0          0          1  ...          1            1             0
3          0          0          1  ...          1            1             0
4          0          0          1  ...          1            1             0

[5 rows x 10 columns]

In [21]:

frequent_items= apriori(df, min_support=0.1, use_colnames= True)
frequent_items

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Survived_No, Class_Crew)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Gender_Male, Class_3rd, Age_Adult)
25  0.191731              (Gender_Male, Survived_No, Class_3rd)
26  0.216265                (Age_Adult, Survived_No, Class_3rd)
27  0.391640               (Gender_Male, Class_Crew, Age_Adult)
28  0.304407             (Gender_Male, Survived_No, Class_Crew)
29  0.305770               (Age_Adult, Survived_No, Class_Crew)
30  0.143571           (Survived_Yes, Age_Adult, Gender_Female)
31  0.603816              (Gender_Male, Survived_No, Age_Adult)
32  0.153567             (Survived_Yes, Gender_Male, Age_Adult)
33  0.175829   (Gender_Male, Survived_No, Class_3rd, Age_Adult)
34  0.304407  (Gender_Male, Survived_No, Class_Crew, Age_Adult)

In [25]:
rules= association_rules(frequent_items, metric= "lift" , min_threshold=0.7)
rules
rules.sort_values('lift', ascending= False )[0:20]

                               antecedents  ... zhangs_metric
66              (Age_Adult, Gender_Female)  ...      0.700873
67                          (Survived_Yes)  ...      0.835403
19                         (Gender_Female)  ...      0.710327
18                          (Survived_Yes)  ...      0.825219
69                         (Gender_Female)  ...      0.709577
64               (Survived_Yes, Age_Adult)  ...      0.793974
98                (Gender_Male, Age_Adult)  ...      0.986022
99               (Survived_No, Class_Crew)  ...      0.344592
50                            (Class_Crew)  ...      0.371976
47                (Gender_Male, Age_Adult)  ...      0.916706
54               (Survived_No, Class_Crew)  ...      0.302519
102                          (Gender_Male)  ...      0.983509
95    (Age_Adult, Survived_No, Class_Crew)  ...      0.302519
55                           (Gender_Male)  ...      0.983509
104                           (Class_Crew)  ...      0.338549
93   (Gender_Male, Survived_No, Age_Adult)  ...      0.510929
49                           (Gender_Male)  ...      0.901730
48                 (Age_Adult, Class_Crew)  ...      0.322047
11                            (Class_Crew)  ...      0.322047
10                           (Gender_Male)  ...      0.901730

[20 rows x 10 columns]

In [26]:
rules[rules.lift>1]

                 antecedents  ... zhangs_metric
0                (Age_Adult)  ...      0.639010
1                (Class_1st)  ...      0.037128
8              (Survived_No)  ...      0.293515
9                (Class_3rd)  ...      0.139592
10             (Gender_Male)  ...      0.901730
..                       ...  ...           ...
101  (Age_Adult, Class_Crew)  ...      0.303418
102            (Gender_Male)  ...      0.983509
103            (Survived_No)  ...      0.399458
104             (Class_Crew)  ...      0.338549
105              (Age_Adult)  ...      1.000000

[74 rows x 10 columns]